.css-l0iinn {
  font-size: 1.4rem !important;
}

.css-1w13o7u-MuiTypography-root {
  font-size: 1.4rem !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root,
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 1.4rem !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: $button-color !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: $button-color !important;
  border: none !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: $button-color !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: none !important;
}
