// COLORS
$color-primary: #4ba30d00;
$color-secondary: #f3fee7;
$color-borderColor: #d0d5dd;
$color-gray: #667085;
$color-gray-light: #f9fafb;
$color-gray-darker: #1D2939;
$color-text-dark: #475467;
$color-black: #101828;
$color-danger: #b42318;
$color-error: #fda29b;
$color-success: #027a48;
$color-success-light: #f3fee7;
$color-success-text: #039855;
$color-light-green: #f3fee700;
$color-white: #fff;

// BUTTONS
$checkbox-radius: 8px;
$button-color: #4ca30d;

// INPUTS
$input-shadow: 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.05);

// DROPDOWN MENU
$dropdown-text-color: #344054;
