#registration {
  & .registration__form {
    margin: 2rem 0;

    &__flex {
      @include makeFlex(row, space-between, center);
    }


  }

  & .registration__footer--flex {
    @include makeFlex(row, flex-start, center);
    margin: 3rem 0
  }

  & .reg__footer {
    @include makeFlex(column, center, center);
    margin: 2rem 0;

    & .footerText {
      margin-top: 3rem;
    }
  }
}
